<div>
Hi，{{user.Nickname}}：
    恭喜您注册成功，请点击如下链接地址进行确认：
<pre>http://{{domain}}/admin/member/confirm?id={{user.Uid}}&token={{token}}</pre>
</div>

<div>
    您的用户名是： <b>{{user.Nickname}}</b>，稍后您可以在系统账号设置页面修改自己的昵称等信息。
</div>
